html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	-webkit-print-color-adjust: exact !important;
}

strong, p {
	line-height: 26px;
	margin: 0;
}

h1, h2, h3, h4 {
	margin: 0;
	text-transform: uppercase;
}

.separator {
	margin: 3em 0;
}

.text--italic {
	font-style: italic;
}

@media print {
	@page {
		size: A4;
		margin: 0;
	}
}